@font-face {
    font-family: "HankenGrotesk";
    src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html {
    font-size: 62.5%;
    font-family: "HankenGrotesk";
}

body {
    background-color: var(--pale-blue);
}

:root {
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-grey-blue: hsl(224, 30%, 27%);
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-light-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 1);
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.card {
    display: grid;
    grid-template-rows: 45% 55%;
    grid-template-columns: 100%;
    grid-template-areas: 
        "score-summary"
        "score-breakdown";
    background-color: white;
    width: min(100%, 45rem);
    height: 100%;
    border-radius: 2rem;
    min-height: 66.7rem;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(1.4rem, 1.147rem + 1.263vw, 2rem);
    height: clamp(1.4rem, 1.147rem + 1.263vw, 2rem);
    border-radius: 50%;
    background: linear-gradient(
        to bottom,
        var(--violet-light-blue),
        var(--persian-blue)
    );
    width: clamp(14rem, 13.158rem + 4.211vw, 16rem);
    height: clamp(14rem, 13.158rem + 4.211vw, 16rem);
    padding: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

h1 {
    font-size: clamp(5.6rem, 4.926rem + 3.368vw, 7.2rem);
}

h2 {
    font-size: clamp(2.4rem, 2.063rem + 1.684vw, 3.2rem);
}

h3 {
    font-size: clamp(2rem, 1.832rem + 0.842vw, 2.4rem);
    margin-bottom: 2rem;
}

h4 {
    font-size: clamp(1.6rem, 1.516rem + 0.421vw, 1.8rem);
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: clamp(1.6rem, 1.516rem + 0.421vw, 1.8rem);
    text-align: center;
}


.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    height: 4rem;
    align-self: flex-end;
    width: 100%;
    border-radius: 2rem;
    border: none;
    color: white;
    background-color: var(--dark-grey-blue);
    font-weight: bold;
    font-family: "HankenGrotesk";
    cursor: pointer;
}

button:hover {
    background-color: var(--violet-light-blue);
}



.score-summary,
.score-breakdown {
    padding: 2rem;
    
}

/*!  Score summary */


.score-summary {
    background: linear-gradient(
        to bottom,
        var(--violet-light-blue),
        var(--light-royal-blue)
    );
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--pale-blue);
}

/* ! Score Breakdown */

.score-breakdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.score-breakdown h3 {
    align-self: flex-start;
}

.breakdown-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.breakdown {
    height: 4rem;
    border-radius: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.left {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    gap: 1rem;
}

.right {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 1.6rem;
    color: darkgrey;
}

.right span {
    font-weight: bold;
    color: var(--dark-grey-blue);
}

.breakdown-1 {
    color: var(--light-red);
    background-color: hsla(0, 100%, 67%, .1);
}

.breakdown-2 {
    color: var(--orange-yellow);
    background-color: hsla(39, 100%, 56%, .1);
}

.breakdown-3 {
    color: var(--green-teal);
    background-color: hsla(166, 100%, 37%, .1);
}

.breakdown-4 {
    color: var(--cobalt-blue);
    background-color: hsla(234, 85%, 45%, .1);
}


@media (min-width: 648px) {
    .card {
        height: 90%;
        width: min(80%, 60rem);
        grid-template-rows: 1fr 1fr;
    }

    .score-summary,
    .score-breakdown {
        padding: 2rem 3rem;
    }

    .breakdown {
        height: 5.6rem;
    }

}

@media (min-width: 1080px) {
    .card {
        grid-template-rows: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "score-summary score-breakdown";
        width: 75rem;
        height: 51.2rem;
        box-shadow: .1rem .1rem 5rem var(--light-lavender);
    }

    .circle {
        width: 20rem;
        height: 20rem;
    }

    .score-summary,
    .score-breakdown {
        padding: 4rem 4rem;
    }

    .breakdown {
        height: 6.4rem;
        padding: 2.4rem;
    }

    button {
        height: 5.6rem;
    }

}
